<div class="container-fluid">
    <!--<h1>Content begins..</h1>-->
    <div class="container-fluid page-footer text-center col-lg-12">
        <h4><b>Don't call the world dirty because you forgot to clean your glasses.</b></h4>
    </div>
</div>
