@{
    ViewBag.Title = "Contact Us";
}

<div class="container-fluid">
    <!--==============================content=================================-->

    <div class="col-md-2"></div>
    <div class="col-md-7 text-center lead">
        <h2 class="text-center"><i>@ViewBag.Title</i></h2>
        <br>

        <address>
            <strong><u>Arihant Opticals</u></strong><br>

            Contact on:(942) 826-8360<br>
            <a href="#">arihantopticals@gmail.com</a><br>
            Rajkot.<br>
        </address>

    </div>

    <div class="col-md-3"></div>
    <!--==============================content=================================-->
</div>